In [1]:
import pandas as pd
from scipy.stats import chisquare

In [2]:
def get_years_dfs(misinfotext_path: str, fakespeak_path: str):
    misinfotext_file = pd.ExcelFile(misinfotext_path)
    
    for sheet in misinfotext_file.sheet_names:
        df = pd.read_excel(misinfotext_file, sheet_name=sheet)
        df["year"] = sheet
        yield df
    
    fakespeak_file = pd.ExcelFile(fakespeak_path)
    
    for sheet in fakespeak_file.sheet_names:
        df = pd.read_excel(fakespeak_file, sheet_name=sheet)
        df["year"] = sheet
        yield df

In [3]:
def build_chisquare_table(df: pd.DataFrame, ngrams: list[str]):
    # Fill in 0 if ngram doesn't exist in this df
    counts = df.set_index("ngram_text")["ngram_count"]\
                .reindex(ngrams, fill_value=0)

    table = pd.DataFrame({
        "ngram_text": ngrams,
        "ngram_count": counts.values
    })

    table["year"] = df["year"].iloc[0]

    return table

In [4]:
def run_stats_test(misinfotext_path: str, fakespeak_path: str, min_significant_pvalue=0.05):
    years_dfs = list(get_years_dfs(misinfotext_path, fakespeak_path))

    for df in years_dfs:
        df.sort_values("ngram_text", inplace=True)

    all_ngrams = sorted(set([
        ngram 
        for df in years_dfs
        for ngram in df["ngram_text"] 
    ]))

    tables = [build_chisquare_table(df, all_ngrams) for df in years_dfs]

    chisquare_result = chisquare([df["ngram_count"] for df in tables])

    num_insignificant_ngrams = sum(
        1 for pvalue in chisquare_result.pvalue 
        if pvalue > min_significant_pvalue
    )
    num_significant_ngrams = len(all_ngrams) - num_insignificant_ngrams

    print("There are", num_insignificant_ngrams, "ngrams that did not change significantly, and", 
          num_significant_ngrams, "ngrams that changed significantly")
    print("Total", len(all_ngrams), "ngrams")

    return pd.DataFrame({
        "ngram_text": all_ngrams,
        "statistic": chisquare_result.statistic,
        "pvalue": chisquare_result.pvalue
    })

#### Body text

In [5]:
results_all_types = run_stats_test(    
    misinfotext_path="./data/MisInfoText/Analysis_output/MisInfoText_ngrams.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/Fakespeak_ngrams.xlsx"
)
results_all_types

There are 0 ngrams that did not change significantly, and 1217 ngrams that changed significantly
Total 1217 ngrams

                           ngram_text   statistic         pvalue
0                                 000  910.192012  2.323198e-184
1                  09 brown voted yea   60.000000   2.522085e-07
2            09 brown voted yea brown   60.000000   2.522085e-07
3                                  10  392.571429   2.514136e-74
4                              10 000  240.000000   1.416373e-42
...                               ...         ...            ...
1212        young and somehow made it   45.000000   7.657266e-05
1213                  young white men  105.000000   1.460740e-15
1214  your support the national media   45.000000   7.657266e-05
1215   yourself have son and daughter   45.000000   7.657266e-05
1216      zone as remind people every   45.000000   7.657266e-05

[1217 rows x 3 columns]

In [6]:
results_news_and_blog = run_stats_test(
    misinfotext_path="./data/MisInfoText/Analysis_output/news_and_blog/MisInfoText_news_and_blog_ngrams.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/news_and_blog/Fakespeak_news_and_blog_ngrams.xlsx"
)
results_news_and_blog

There are 0 ngrams that did not change significantly, and 1325 ngrams that changed significantly
Total 1325 ngrams

                           ngram_text   statistic         pvalue
0                                 000  762.666667  7.995255e-153
1           000 national guard troops   45.000000   7.657266e-05
2                                  10  283.200000   1.713702e-51
3                              10 000  210.000000   1.959500e-36
4               10 000 national guard   45.000000   7.657266e-05
...                               ...         ...            ...
1320       young women avoid unwanted   30.000000   1.192150e-02
1321    your own membership active or   45.000000   7.657266e-05
1322  your support the national media   45.000000   7.657266e-05
1323   yourself have son and daughter   45.000000   7.657266e-05
1324      zone as remind people every   45.000000   7.657266e-05

[1325 rows x 3 columns]

In [7]:
results_press_release = run_stats_test(
    misinfotext_path="./data/MisInfoText/Analysis_output/press_release/MisInfoText_press_release_ngrams.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/press_release/Fakespeak_press_release_ngrams.xlsx"
)
results_press_release

There are 137 ngrams that did not change significantly, and 1512 ngrams that changed significantly
Total 1649 ngrams

                              ngram_text  statistic        pvalue
0                                    000      150.0  2.412498e-24
1                         09 brown voted       75.0  5.662025e-10
2                     09 brown voted yea       60.0  2.522085e-07
3               09 brown voted yea brown       60.0  2.522085e-07
4                                     10      210.0  1.959500e-36
...                                  ...        ...           ...
1644                      yucca mountain       90.0  9.918667e-13
1645                 yucca mountain bill       30.0  1.192150e-02
1646  yucca mountain into permanent dump       15.0  4.514172e-01
1647   yucca mountain sen hellers record       15.0  4.514172e-01
1648   yucca proponents rosen for nevada       15.0  4.514172e-01

[1649 rows x 3 columns]

In [8]:
results_social_media = run_stats_test(
    misinfotext_path="./data/MisInfoText/Analysis_output/social_media/MisInfoText_social_media_ngrams.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/social_media/Fakespeak_social_media_ngrams.xlsx"
)
results_social_media

There are 326 ngrams that did not change significantly, and 993 ngrams that changed significantly
Total 1319 ngrams

                    ngram_text   statistic        pvalue
0                          000  481.258427  1.393978e-94
1                           08   39.000000  1.999436e-04
2                           10   39.000000  1.999436e-04
3                  11 year old   52.000000  1.347814e-06
4                           12  403.000000  5.198914e-78
...                        ...         ...           ...
1314    ğ’ƒğ’ğ’ğ’ğ’… ğ’‘ğ’“ğ’†ğ’”ğ’”ğ’–ğ’“ğ’† ğ’˜ğ’Šğ’ğ’ ğ’ƒğ’†   26.000000  1.700084e-02
1315          ğ’‘ğ’“ğ’†ğ’”ğ’”ğ’–ğ’“ğ’† ğ’˜ğ’Šğ’ğ’ ğ’ƒğ’†   26.000000  1.700084e-02
1316          ğ—•ğ—¶ğ—¹ğ—¹ ğ—®ğ—»ğ—± ğ—›ğ—¶ğ—¹ğ—¹ğ—®ğ—¿ğ˜†   26.000000  1.700084e-02
1317  ğ—•ğ—¶ğ—¹ğ—¹ ğ—®ğ—»ğ—± ğ—›ğ—¶ğ—¹ğ—¹ğ—®ğ—¿ğ˜† ğ—–ğ—¹ğ—¶ğ—»ğ˜ğ—¼ğ—»   26.000000  1.700084e-02
1318       ğ—®ğ—»ğ—± ğ—›ğ—¶ğ—¹ğ—¹ğ—®ğ—¿ğ˜† ğ—–ğ—¹ğ—¶ğ—»ğ˜ğ—¼ğ—»   26.000000  1.700084e-02

[1319 rows x 3 columns]

#### Headline text

In [9]:
results_all_types_headlines = run_stats_test(    
    misinfotext_path="./data/MisInfoText/Analysis_output/MisInfoText_ngrams_headlines.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/Fakespeak_ngrams_headlines.xlsx"
)
results_all_types_headlines

There are 1060 ngrams that did not change significantly, and 666 ngrams that changed significantly
Total 1726 ngrams

                                 ngram_text   statistic        pvalue
0                                       000   82.894737  2.056611e-11
1                        000 americans have   30.000000  1.192150e-02
2                                        14   30.000000  1.192150e-02
3                                        19  148.000000  6.017411e-24
4                                19 vaccine   45.000000  7.657266e-05
...                                     ...         ...           ...
1721     zero amish children diagnosed with   15.000000  4.514172e-01
1722                             zika virus   15.000000  4.514172e-01
1723                         zika virus the   15.000000  4.514172e-01
1724               zika virus the brazilian   15.000000  4.514172e-01
1725  zika virus the brazilian microcephaly   15.000000  4.514172e-01

[1726 rows x 3 columns]

In [10]:
results_news_and_blog_headlines = run_stats_test(
    misinfotext_path="./data/MisInfoText/Analysis_output/news_and_blog/MisInfoText_news_and_blog_ngrams_headlines.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/news_and_blog/Fakespeak_news_and_blog_ngrams_headlines.xlsx"
)
results_news_and_blog_headlines

There are 1241 ngrams that did not change significantly, and 540 ngrams that changed significantly
Total 1781 ngrams

                                 ngram_text   statistic        pvalue
0                                       000   79.777778  7.669505e-11
1                        000 americans have   30.000000  1.192150e-02
2                                        14   30.000000  1.192150e-02
3                                        19  137.466667  7.267558e-22
4                                 19 deaths   45.000000  7.657266e-05
...                                     ...         ...           ...
1776     zero amish children diagnosed with   15.000000  4.514172e-01
1777                             zika virus   15.000000  4.514172e-01
1778                         zika virus the   15.000000  4.514172e-01
1779               zika virus the brazilian   15.000000  4.514172e-01
1780  zika virus the brazilian microcephaly   15.000000  4.514172e-01

[1781 rows x 3 columns]

In [11]:
results_press_release_headlines = run_stats_test(
    misinfotext_path="./data/MisInfoText/Analysis_output/press_release/MisInfoText_press_release_ngrams_headlines.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/press_release/Fakespeak_press_release_ngrams_headlines.xlsx"
)
results_press_release_headlines

There are 1633 ngrams that did not change significantly, and 161 ngrams that changed significantly
Total 1794 ngrams

                            ngram_text  statistic    pvalue
0                                   64       30.0  0.011921
1                                 aarp       30.0  0.011921
2                              abandon       15.0  0.451417
3                             abortion       30.0  0.011921
4                                  act       30.0  0.011921
...                                ...        ...       ...
1789                            zemsky       15.0  0.451417
1790                     zemsky asking       15.0  0.451417
1791                 zemsky asking why       15.0  0.451417
1792           zemsky asking why state       15.0  0.451417
1793  zemsky asking why state economic       15.0  0.451417

[1794 rows x 3 columns]

In [12]:
results_social_media_headlines = run_stats_test(
    misinfotext_path="./data/MisInfoText/Analysis_output/social_media/MisInfoText_social_media_ngrams_headlines.xlsx",
    fakespeak_path="./data/Fakespeak-ENG/Analysis_output/social_media/Fakespeak_social_media_ngrams_headlines.xlsx"
)
results_social_media_headlines

IndexError: single positional indexer is out-of-bounds