# Notebook for Parts of Speech Analysis

Using spaCy for parts of speech analysis, we want to create relative frequency tables for the parts of speech by year.

Currently processes the "Fakespeak-ENG modified.xlsx" file (I've renamed my copy to "Fakespeak_ENG_modified.xlsx" to create a more consistent path), but will eventually be run on data from MisInfoText as well.

From the original data file, we use the following columns: ID, combinedLabel, originalTextType, originalBodyText, originalDateYear

We are processing text from the "originalBodyText" column.

In [1]:
import spacy
from spacy.tokens.doc import Doc
from spacy.tokens.token import Token
import pandas as pd
from helpers import load_data, get_groups

## Loading articles into dataframes, separated by year

In [2]:
dataset_df = load_data()
dataset_df.head()

,id,text,headline,text_type,year
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016
1,http://www.politifact.com/california/statement...,"Sacramento, CA - United States Senator Dianne ...",U.S. Senator Dianne Feinstein Opposes Prop. 64...,Press release,2016
2,http://www.politifact.com/california/statement...,We should anticipate black and gray markets in...,Why you should buy a locking gasoline cap,News and blog,2017
3,http://www.politifact.com/california/statement...,As a ballot initiative calling for repeal of a...,California Gas-Tax-Hike Repeal Campaign Heats Up,News and blog,2017
4,http://www.politifact.com/california/statement...,"WASHINGTON, DC The House of Representatives t...","Rep. Chu Decries ""Heartless"" ACA Repeal Vote",Press release,2017

## Tagging parts of speech using spaCy

Using the small English web model, we tag the parts of speech in the body text by making article's body text a string, analyzing the string using spaCy, and then appending each token to a list manually.

We end up with a dataframe of many rows since each tag/tagged token takes up one row - this is fine since we are looking at overall counts in a year and we don't need to preserve the delineation between articles.

In [3]:
nlp = spacy.load("en_core_web_sm")

c:\Users\Adam\AppData\Local\Python\pythoncore-3.11-64\Lib\site-packages\spacy\util.py:969: UserWarning: [W095] Model 'en_core_web_sm' (3.5.0) was trained with spaCy v3.5.0 and may not be 100% compatible with the current version (3.8.8). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)
c:\Users\Adam\AppData\Local\Python\pythoncore-3.11-64\Lib\site-packages\coreferee\manager.py:11: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [4]:
def get_tokens(doc: Doc):
    return [token for token in doc]

def get_pos(token: Token):
    return token.pos_

In [5]:
dataset_df["doc"] = list(nlp.pipe(dataset_df["text"]))

In [6]:
dataset_df["token"] = dataset_df["doc"].apply(get_tokens)
pos_df = dataset_df.explode("token")
pos_df["POS"] = pos_df["token"].apply(get_pos)
pos_df

,id,text,headline,text_type,year,doc,token,POS
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",Residents,NOUN
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",of,ADP
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",multiple,ADJ
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",states,NOUN
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",will,AUX
...,...,...,...,...,...,...,...,...
2960,Politifact_Pants on Fire_Social media_621529,ANYBODY ELSE FIND IT FUNNY THAT ISRAEL WAS ATT...,NaN,Social media,2023,"(ANYBODY, ELSE, FIND, IT, FUNNY, THAT, ISRAEL,...",ON,PROPN
2960,Politifact_Pants on Fire_Social media_621529,ANYBODY ELSE FIND IT FUNNY THAT ISRAEL WAS ATT...,NaN,Social media,2023,"(ANYBODY, ELSE, FIND, IT, FUNNY, THAT, ISRAEL,...",A,PRON
2960,Politifact_Pants on Fire_Social media_621529,ANYBODY ELSE FIND IT FUNNY THAT ISRAEL WAS ATT...,NaN,Social media,2023,"(ANYBODY, ELSE, FIND, IT, FUNNY, THAT, ISRAEL,...",MONTHLY,PROPN
2960,Politifact_Pants on Fire_Social media_621529,ANYBODY ELSE FIND IT FUNNY THAT ISRAEL WAS ATT...,NaN,Social media,2023,"(ANYBODY, ELSE, FIND, IT, FUNNY, THAT, ISRAEL,...",BASIS,PROPN
2960,Politifact_Pants on Fire_Social media_621529,ANYBODY ELSE FIND IT FUNNY THAT ISRAEL WAS ATT...,NaN,Social media,2023,"(ANYBODY, ELSE, FIND, IT, FUNNY, THAT, ISRAEL,...",.,PUNCT

## Create relative frequency tables of parts of speech by year

### Frequency tables per year for saving

In [7]:
years, years_dfs = get_groups(pos_df, "year")
years_dfs[0].head()

,id,text,headline,text_type,year,doc,token,POS
433,http://www.politifact.com/truth-o-meter/statem...,"Washington, D.C., Mar 25 - In response to sugg...",Bachmann Demands Truth: Will Obama Administrat...,Press release,2009,"(Washington, ,, D.C., ,, Mar, 25, -, In, respo...",Washington,PROPN
433,http://www.politifact.com/truth-o-meter/statem...,"Washington, D.C., Mar 25 - In response to sugg...",Bachmann Demands Truth: Will Obama Administrat...,Press release,2009,"(Washington, ,, D.C., ,, Mar, 25, -, In, respo...",",",PUNCT
433,http://www.politifact.com/truth-o-meter/statem...,"Washington, D.C., Mar 25 - In response to sugg...",Bachmann Demands Truth: Will Obama Administrat...,Press release,2009,"(Washington, ,, D.C., ,, Mar, 25, -, In, respo...",D.C.,PROPN
433,http://www.politifact.com/truth-o-meter/statem...,"Washington, D.C., Mar 25 - In response to sugg...",Bachmann Demands Truth: Will Obama Administrat...,Press release,2009,"(Washington, ,, D.C., ,, Mar, 25, -, In, respo...",",",PUNCT
433,http://www.politifact.com/truth-o-meter/statem...,"Washington, D.C., Mar 25 - In response to sugg...",Bachmann Demands Truth: Will Obama Administrat...,Press release,2009,"(Washington, ,, D.C., ,, Mar, 25, -, In, respo...",Mar,PROPN

### Summary tables for easy glancing

In [8]:
def get_summary_counts_df(years: list[int], years_dfs: list[pd.DataFrame]):
    return pd.DataFrame(
        data=[df["POS"].value_counts() for df in years_dfs], 
        index=pd.Index(years, name="year")
    )

def get_summary_proportions_df(years: list[int], years_dfs: list[pd.DataFrame]):
    return pd.DataFrame(
        data=[df["POS"].value_counts(normalize=True) for df in years_dfs], 
        index=pd.Index(years, name="year")
    )

In [9]:
summary_counts_df = get_summary_counts_df(years, years_dfs)
summary_counts_df

POS,NOUN,PUNCT,VERB,ADP,DET,PROPN,ADJ,PRON,AUX,ADV,PART,CCONJ,SCONJ,NUM,SPACE,X,SYM,INTJ
year,,,,,,,,,,,,,,,,,,
2009,2475,1620,1425,1267,1097,1005,942,738,688,472,394,321,299,219,188,57,30,12
2010,2191,1279,1280,1156,957,1192,805,666,636,410,356,308,234,245,96,4,43,5
2011,4981,2668,2882,2580,2095,2466,1709,1541,1313,819,724,715,456,413,217,21,67,18
2012,3438,2192,2009,1808,1419,2108,1201,957,891,533,511,481,333,457,121,19,127,21
2013,7034,4079,4261,3630,3144,3065,2576,2620,2168,1384,1226,1161,768,606,346,30,90,24
2014,2884,2073,1833,1676,1288,2090,930,807,763,450,508,434,269,534,279,65,63,11
2015,4559,2874,2767,2535,2140,2210,1773,1768,1424,827,826,825,488,377,455,21,52,21
2016,6872,4365,4402,3922,3105,3555,2550,2534,1907,1387,1019,1079,810,722,421,44,129,28
2017,14282,8727,9359,8057,6721,8609,4819,5451,4348,2919,2271,2246,1658,1608,908,59,258,51
2018,8486,5267,5531,5151,3938,5482,2991,3288,2523,1881,1296,1268,968,844,480,27,88,46
2019,6641,4099,4168,3551,2708,3557,2175,2502,1915,1217,1055,1085,670,744,1020,60,133,52
2020,22970,15684,14936,12701,10212,15448,7905,8740,7367,4676,3555,3505,2669,3065,4237,259,658,148
2021,26692,17555,16357,14242,11522,14316,9021,8797,7557,5087,3982,4082,2766,3497,4261,218,453,126
2022,16320,10639,9725,8722,6841,8624,5619,5234,4374,3281,2256,2392,1683,2473,2585,212,518,75
2023,21830,13904,13075,11285,9163,12022,7231,6552,5565,3690,2978,3139,2090,2109,3906,225,576,78
2024,4542,3272,3088,2480,2065,3023,1525,1774,1329,920,699,660,466,456,771,91,200,37

In [10]:
summary_proportions_df = get_summary_proportions_df(years, years_dfs)
summary_proportions_df

POS,NOUN,PUNCT,VERB,ADP,DET,PROPN,ADJ,PRON,AUX,ADV,PART,CCONJ,SCONJ,NUM,SPACE,X,SYM,INTJ
year,,,,,,,,,,,,,,,,,,
2009,0.186807,0.122273,0.107555,0.095630,0.082799,0.075855,0.071100,0.055702,0.051928,0.035625,0.029738,0.024228,0.022568,0.016530,0.014190,0.004302,0.002264,0.000906
2010,0.184692,0.107814,0.107899,0.097446,0.080671,0.100480,0.067858,0.056141,0.053612,0.034561,0.030009,0.025963,0.019725,0.020652,0.008092,0.000337,0.003625,0.000421
2011,0.193926,0.103874,0.112206,0.100448,0.081565,0.096009,0.066537,0.059996,0.051119,0.031886,0.028188,0.027837,0.017754,0.016079,0.008449,0.000818,0.002609,0.000701
2012,0.184581,0.117685,0.107860,0.097069,0.076184,0.113175,0.064480,0.051380,0.047836,0.028616,0.027435,0.025824,0.017878,0.024536,0.006496,0.001020,0.006818,0.001127
2013,0.184078,0.106747,0.111509,0.094996,0.082278,0.080210,0.067413,0.068565,0.056736,0.036219,0.032084,0.030383,0.020098,0.015859,0.009055,0.000785,0.002355,0.000628
2014,0.170077,0.122250,0.108097,0.098838,0.075957,0.123253,0.054845,0.047591,0.044996,0.026538,0.029958,0.025594,0.015864,0.031491,0.016453,0.003833,0.003715,0.000649
2015,0.175738,0.110786,0.106661,0.097718,0.082492,0.085190,0.068345,0.068152,0.054892,0.031879,0.031840,0.031802,0.018811,0.014532,0.017539,0.000809,0.002004,0.000809
2016,0.176881,0.112352,0.113305,0.100950,0.079921,0.091503,0.065635,0.065224,0.049085,0.035700,0.026228,0.027773,0.020849,0.018584,0.010836,0.001133,0.003320,0.000721
2017,0.173428,0.105973,0.113648,0.097837,0.081614,0.104540,0.058518,0.066192,0.052798,0.035446,0.027577,0.027274,0.020133,0.019526,0.011026,0.000716,0.003133,0.000619
2018,0.171244,0.106286,0.111613,0.103945,0.079467,0.110625,0.060357,0.066351,0.050913,0.037958,0.026153,0.025588,0.019534,0.017032,0.009686,0.000545,0.001776,0.000928
2019,0.177795,0.109740,0.111587,0.095069,0.072499,0.095229,0.058230,0.066984,0.051269,0.032582,0.028245,0.029048,0.017937,0.019919,0.027308,0.001606,0.003561,0.001392
2020,0.165567,0.113050,0.107658,0.091549,0.073608,0.111349,0.056979,0.062998,0.053101,0.033705,0.025624,0.025264,0.019238,0.022092,0.030540,0.001867,0.004743,0.001067
2021,0.177319,0.116620,0.108662,0.094612,0.076542,0.095103,0.059928,0.058440,0.050202,0.033794,0.026453,0.027117,0.018375,0.023231,0.028306,0.001448,0.003009,0.000837
2022,0.178218,0.116181,0.106199,0.095246,0.074705,0.094176,0.061361,0.057157,0.047765,0.035829,0.024636,0.026121,0.018379,0.027006,0.028229,0.002315,0.005657,0.000819
2023,0.182803,0.116431,0.109489,0.094500,0.076730,0.100672,0.060552,0.054866,0.046601,0.030900,0.024938,0.026286,0.017502,0.017661,0.032709,0.001884,0.004823,0.000653
2024,0.165779,0.119425,0.112709,0.090518,0.075370,0.110337,0.055661,0.064749,0.048507,0.033579,0.025513,0.024089,0.017009,0.016644,0.028141,0.003321,0.007300,0.001350

In [11]:
types, types_dfs = get_groups(pos_df, "text_type")
types_dfs[0].head()

,id,text,headline,text_type,year,doc,token,POS
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",Residents,NOUN
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",of,ADP
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",multiple,ADJ
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",states,NOUN
0,http://www.politifact.com/arizona/statements/2...,Residents of multiple states will be asked to ...,Multiple States Have Agreed To Implement A ‘Tw...,News and blog,2016,"(Residents, of, multiple, states, will, be, as...",will,AUX

In [12]:
def get_pos_table_for_year(df: pd.DataFrame):
    counts = df["POS"].value_counts()

    pos_table = counts.to_frame()
    pos_table["proportion"] = counts / counts.sum()

    return pos_table

In [13]:
def save_years(writer: pd.ExcelWriter, years: list[int], years_dfs: list[pd.DataFrame]):
    for year, df in zip(years, years_dfs):
        pos_table_df = get_pos_table_for_year(df)
        pos_table_df.to_excel(
            writer,
            sheet_name=str(year)
        )
    
    get_summary_counts_df(years, years_dfs).to_excel(writer, sheet_name="counts")
    get_summary_proportions_df(years, years_dfs).to_excel(writer, sheet_name="proportions")

## Writing dataframes to excel spreadsheet

In [14]:
writer = pd.ExcelWriter("./output/pos.xlsx", engine="xlsxwriter")
save_years(writer, years, years_dfs)
writer.close()

In [15]:
for type, df in zip(types, types_dfs):
    years, years_dfs = get_groups(df, "year")

    type_str = str(type).lower().replace(" ", "_")

    writer = pd.ExcelWriter(f"./output/{type_str}/pos_{type_str}.xlsx", engine="xlsxwriter")
    save_years(writer, years, years_dfs)
    writer.close()