In [1]:
import pandas as pd
from scipy.stats import chisquare
from helpers import get_years_dfs

### Using chi-square tests because the POS data is in the form of a frequency table

In [2]:
pos = [
    "NOUN",
    "PUNCT",
    "VERB",
    "ADP",
    "DET",
    "ADJ",
    "PROPN",
    "PRON",
    "AUX",
    "ADV",
    "PART",
    "CCONJ",
    "SCONJ",
    "NUM",
    "SPACE",
    "SYM",
    "INTJ",
    "X",
]

In [3]:
def run_stats_test(input_path: str):
    years_dfs = [
        df.set_index("POS").sort_index().reindex(pos, fill_value=0)
        for df in get_years_dfs(input_path)
    ]

    result = chisquare([df["count"] for df in years_dfs])

    result_df = pd.DataFrame({
        "POS": pos,
        "statistic": result.statistic,
        "pvalue": result.pvalue,
    })

    return result_df

#### All text types

In [4]:
run_stats_test("./output/pos.xlsx")

      POS     statistic         pvalue
0    NOUN  99588.216566   0.000000e+00
1   PUNCT  68245.153165   0.000000e+00
2    VERB  62051.484109   0.000000e+00
3     ADP  52739.183547   0.000000e+00
4     DET  42523.151224   0.000000e+00
5     ADJ  32517.743658   0.000000e+00
6   PROPN  61309.298067   0.000000e+00
7    PRON  33598.619337   0.000000e+00
8     AUX  29044.954253   0.000000e+00
9     ADV  19501.120789   0.000000e+00
10   PART  13841.529929   0.000000e+00
11  CCONJ  14852.332264   0.000000e+00
12  SCONJ  10650.426836   0.000000e+00
13    NUM  14773.381186   0.000000e+00
14  SPACE  28144.400128   0.000000e+00
15    SYM   3057.558393   0.000000e+00
16   INTJ    546.017264  1.016944e-106
17      X   1283.002833  2.390795e-264

All parts of speech changed significantly throughout the years

#### News and blog

In [5]:
run_stats_test("./output/news_and_blog/pos_news_and_blog.xlsx")

      POS     statistic         pvalue
0    NOUN  72294.005058   0.000000e+00
1   PUNCT  49533.254028   0.000000e+00
2    VERB  43053.626920   0.000000e+00
3     ADP  39479.795769   0.000000e+00
4     DET  32308.781932   0.000000e+00
5     ADJ  23735.827406   0.000000e+00
6   PROPN  42613.533266   0.000000e+00
7    PRON  20433.075466   0.000000e+00
8     AUX  18645.284148   0.000000e+00
9     ADV  13230.964796   0.000000e+00
10   PART   9435.986600   0.000000e+00
11  CCONJ  10674.527221   0.000000e+00
12  SCONJ   7380.149533   0.000000e+00
13    NUM  10962.104544   0.000000e+00
14  SPACE  17071.433275   0.000000e+00
15    SYM   1730.479707   0.000000e+00
16   INTJ    163.049505   6.040826e-27
17      X    536.804800  9.118084e-105

All parts of speech changed significantly throughout the years for news and blog

#### Press release

In [6]:
run_stats_test("./output/press_release/pos_press_release.xlsx")

      POS    statistic         pvalue
0    NOUN  6653.847534   0.000000e+00
1   PUNCT  3400.120124   0.000000e+00
2    VERB  3861.789341   0.000000e+00
3     ADP  3608.332369   0.000000e+00
4     DET  3027.454272   0.000000e+00
5     ADJ  1994.448161   0.000000e+00
6   PROPN  4652.361150   0.000000e+00
7    PRON  2075.669528   0.000000e+00
8     AUX  1559.703310   0.000000e+00
9     ADV  1260.023658  2.077159e-259
10   PART   833.528694  5.827868e-168
11  CCONJ  1109.341119  4.773557e-227
12  SCONJ   657.970954  1.665628e-130
13    NUM  1775.244250   0.000000e+00
14  SPACE   302.917546   1.383532e-55
15    SYM   244.855297   1.422060e-43
16   INTJ    15.689655   4.029718e-01
17      X   355.142857   1.764416e-66

All parts of speech changed significantly throughout the years for press release

#### Social media

In [7]:
run_stats_test("./output/social_media/pos_social_media.xlsx")

      POS     statistic         pvalue
0    NOUN  49534.343092   0.000000e+00
1   PUNCT  34772.792165   0.000000e+00
2    VERB  34995.117230   0.000000e+00
3     ADP  26465.880624   0.000000e+00
4     DET  19823.598390   0.000000e+00
5     ADJ  16167.078313   0.000000e+00
6   PROPN  31824.805096   0.000000e+00
7    PRON  24869.414101   0.000000e+00
8     AUX  17814.113230   0.000000e+00
9     ADV  10565.920551   0.000000e+00
10   PART   8258.799005   0.000000e+00
11  CCONJ   8224.535897   0.000000e+00
12  SCONJ   6122.688773   0.000000e+00
13    NUM   6677.091000   0.000000e+00
14  SPACE  11621.291197   0.000000e+00
15    SYM   2617.191850   0.000000e+00
16   INTJ    516.675000  4.193433e-102
17      X    912.252441  1.196478e-186

All parts of speech changed significantly throughout the years for social media